header {
  background-color: #fff;
}

header h1 {
  text-decoration: none; /* 下線を非表示にする */
}

.upload-form {
  display: block;
  position: fixed;
  margin-left: 985px;
  margin-top: 325px; /* 要素を中央に配置するためにmarginをautoに設定 */
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 40px;
  width: 500px;
  height: 400px;
  text-align: center;
  box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.1), 0 -15px 20px -5px rgba(0, 0, 0, 0.1), 15px 0 20px -5px rgba(0, 0, 0, 0.1), -15px 0 20px -5px rgba(0, 0, 0, 0.1);
  background-image: url('/static/icon.png');
  background-size: 18%;
  background-repeat: no-repeat;
  background-position: center top 23%;
}

.custom-file-upload {
  display: inline-block;
  margin: 180px auto 0;
  background-color:  rgb(0, 128, 255);
  color: white;
  border: none;
  border-radius: 40px; /* 角丸を2倍に */
  padding: 20px 40px; /* パディングを2倍に */
  font-size: 20px; /* フォントサイズを大きく */
  font-weight: bold; /* フォントを太字に */
  cursor: pointer;
}

.custom-file-upload input[type=file] {
  display: none;
}

.custom-file-upload:hover {
  background-color: #ff9900;
  transition: background-color 0.3s ease;
}

.custom-file-upload:active {
  background-color: #ff6a00;
  text-shadow: 0 0 0.5px black; /* フォントの外枠を指定 */
}

.text-container {
  position: absolute;
  top: calc(50% + 105px); /* テキストを100px下に移動 */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.start-wrapper {
  margin-right: 10px;
}

.start1 {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 40px; /* 角丸を2倍に */
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
}

.video-wrapper {
  text-align: center;
  margin-top: 30px;
}

.my-video {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  margin-top: -60px;
}

button {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ff9933;
}

.lets-stretch {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  margin-right: 20px;
  margin-bottom: 10px;
  height: 130px;
  display: flex;
  align-items: flex-end;
  margin: 30px 0 0 40px;
  font-size: 24px;
  color: rgb(71, 68, 68);
}

.start-message {
  margin-top: 10px;
  margin-left: 40px;
  font-size: 24px;
  color: rgb(71, 68, 68);
}

.start {
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 0 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  margin-left: 40px;
}

.start:hover {
  background-color: rgb(255, 153, 0);
}

.start:active {
  background-color: #ff6a00;
  text-shadow: 0 0 0.5px black; /* フォントの外枠を指定 */
}

input[type="submit"] {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.table-wrapper {
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

.table-wrapper form {
  margin-top: 50px;
}

.center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  font-size: 48px;
  color: #464646;
  margin-left: 95px;
  margin-top: 90px; /* 上に50px分ずらす */
  line-height: 1.8;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-wrapper th {
  background-color: #f2f2f2;
}

.table-wrapper th:first-child,
.table-wrapper td:first-child {
  text-align: left; /* リンク列を左寄せにする */
}

@media (max-width: 768px) {
  /* タブレット以下の画面サイズに対応するスタイル */
  .center {
    font-size: 36px;
    margin-left: 10px;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  /* スマホサイズに対応するスタイル */
  .center {
    font-size: 24px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .upload-form {
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 10px;
  }

  .custom-file-upload {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
  }
}