<!DOCTYPE html>
<html>
<head>
    <title>StockStretch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
</head>
<body>
    <header style="position: fixed; top: 0; left: 0; right: 0; z-index: 1; border-radius: 0; padding: 0px; border-bottom: 2px solid rgb(202, 202, 202);box-shadow: 0 2px 4px rgba(145, 144, 144, 0.25);">
        <h1 style="margin-left: 30px; padding: 0; line-height: 1;"><span style="color:rgb(0, 128, 255) ; font-family: 'Londrina Shadow', cursive; font-size: 1.2em;">Stock</span><span style="color:rgb(255, 153, 0); font-family: 'Londrina Shadow', cursive; margin-left: 0; font-size: 1.2em;">Stretch</span></h1>
    </header> 
</body>
</html>
